*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
  }
  
  body{
    background-image: url("../img/pattern.jpg");
    height: 100%;
  }
  
  header{
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    margin-top: -100px;
    height: 80px;
    padding-left: 15px;
  
  }
  
  ul{
    list-style: none;
    margin: 50px;
  }
  
  ul li{
    display: inline-block;
    justify-content: space-between;
  }
  
  .menu{
    margin: 10px;
  }
  
  section{
    background-color: white;
    margin-top: 100px;
    width: 80%;
    margin-left: 150;
    height: 800;
  }
  
  section h1{
    text-align: center;
    padding-top: 20px;
  }
  
  section #article-list{
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    
  }
  
  section h3{
    color: #7400b8;
    margin-top: 15px;
  }
  
  section p{
    margin-top: 15px;
    border-bottom: 0.2px solid #cdb4db;
  }
  
  .isi{
    text-decoration: none;
  }
  
  footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    padding-top: 25px;
  }
  
  .data{
    background-color: white;
    width: 90%;
    margin-top: 25px;
    margin-left: 50px;
    height: 250px;
  }
  
  ol{
    margin-left: 20px;
    margin-top: 25px;
  }
  
  .back{
    text-decoration: none;
    color: #7400b8;
    margin-left: 50px;
  }
  
  fieldset{
    background-color: white;
    width: 90%;
    margin-top: 25px;
    margin-left: 50px;
    height: auto;
    padding-left: 50px;
  }
  
  .input{
    margin-left: 60px;
  }
  
  form{
    margin-top: 50px;
  }
  
  .submit{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .contact{
    height: 130%;
  }
  